---
import { Image } from 'astro:assets';
import Logo from '../assets/Logo.svg'; 
import Menu from './Menu.astro';
---

<header class="bg-[#1c2431]">
    <div class="flex items-center justify-between p-4">
        <a href="#">
            <Image class="size-15" src={Logo} alt="Logo MTTechnology compania de desarrollo de software y sistemas web." />
        </a>

        <Menu />
    </div>
</header>