---
import { Image } from 'astro:assets';
import ProductiveImage from '../assets/illustration-stay-productive.png';
---

<section class="mb-10 pt-28">
    <div class="container text-center md:grid md:grid-cols-2 md:gap-10">
        <Image class="mb-10" src={ProductiveImage}  alt="Productive Image"/>
        <div class="md:self-center">
            <h2 class="mb-4 text-2xl font-semibold text-white md:text-3xl">Stay productive, wherever you are</h2>
            <p class="mb-2 text-gray-400 text-base md:text-lg">Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.</p>
            <p class="mb-2 text-gray-400 text-base md:text-lg">Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.</p>
            <a href="#" class="group items-center relative flex w-fit justify-start gap-2 pb-1 text-[#65e2d9] transition-colors duration-300 hover:text-[#339ecc] after:absolute after:bottom-0 after:h-[1.5px] after:w-full after:bg-[#65e2d9] hover:after:bg-[#339ecc] after:transition-all after:duration-300">
                <span>
                    See how Fylo works
                </span>
                <i class="fas fa-arrow-right group-hover:bg-[#339ecc] translate-y-[.2rem] size-4 rounded-full bg-[#65e2d9] text-center leading-4 text-[#181f2a] transition-colors duration-300 "></i>
            </a>
        </div>
    </div>
</section>